director-configuration:
  ntp_servers_string: time1.google.com,time2.google.com,time3.google.com,time4.google.com
iaas-configuration:
  subscription_id: {{.subscription_id}}
  tenant_id: {{.tenant_id}}
  client_id: {{.client_id}}
  client_secret: {{.client_secret}}
  resource_group_name: {{.pcf_resource_group_name}}
  bosh_storage_account_name: {{.cf_storage_account_name}}
  ssh_public_key: {{.ops_manager_ssh_public_key}}
  ssh_private_key: {{toJson .ops_manager_ssh_private_key}}
network-assignment:
  network:
    name: ops-manager
networks-configuration:
  icmp_checks_enabled: false
  networks:
  - name: ops-manager
    subnets:
    {{range $i, $a := .infrastructure_subnet_cidrs}}
    - cidr: {{index $.infrastructure_subnet_cidrs $i}}
      dns: {{cidrhost (index $.infrastructure_subnet_cidrs $i) 2}}
      gateway: {{$.infrastructure_subnet_gateway}}
      iaas_identifier: {{$.infrastructure_subnet_name}}
      reserved_ip_ranges: {{cidrhost (index $.infrastructure_subnet_cidrs $i) 0}}-{{cidrhost (index $.infrastructure_subnet_cidrs $i) 4}}
    {{end}}
{{if  index . "pas_subnet_cidrs"}}
  - name: pas
    subnets:
    {{range $i, $a := .pas_subnet_cidrs}}
    - cidr: {{index $.pas_subnet_cidrs $i}}
      dns: {{cidrhost (index $.pas_subnet_cidrs $i) 2}}
      gateway: {{$.pas_subnet_gateway}}
      iaas_identifier: {{$.pas_subnet_name}}
      reserved_ip_ranges: {{cidrhost (index $.pas_subnet_cidrs $i) 0}}-{{cidrhost (index $.pas_subnet_cidrs $i) 4}}
    {{end}}
{{end}}
  - name: services
    subnets:
    {{range $i, $a := .services_subnet_cidrs}}
    - cidr: {{index $.services_subnet_cidrs $i}}
      dns: {{cidrhost (index $.services_subnet_cidrs $i) 2}}
      gateway: {{$.services_subnet_gateway}}
      iaas_identifier: {{$.services_subnet_name}}
      reserved_ip_ranges: {{cidrhost (index $.services_subnet_cidrs $i) 0}}-{{cidrhost (index $.services_subnet_cidrs $i) 4}}
    {{end}}
resource-configuration:
  compilation:
    instance_type:
      id: automatic
